.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.preview-wrapper iframe {
  background-color: white;
  height: 100%;
  width: 100%;
}

/* Tricky: put this shielding element on top of the preview component.
* The drag events cannot be catched by the parent window if the cursor moves so fast  
* that it falls into the iframe window area. Thus, adding this "after" sudo element when
* dragging happens can make sure the drag events can be correctly catched. */
.react-draggable-transparent-selection .preview-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.error {
  position: absolute;
  top: 17px;
  left: 8px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.error h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
